body {
  background-color: #212121;
  color: white;
}

.url-input-box {
  width: 360px;
  height: 24px;
}

.app-title{
    color: #b4edff;
}

.main-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-container{
    display: flex;
    gap: 10px;
}

.gen-btn{
    background-color: rgb(197, 255, 197);
}